.advantages {
  display: flex;
  flex-wrap: wrap;
}

.advantage-list {
  text-transform: uppercase;
  text-align: center;
  list-style: none;

  &-numbers {
    background-color: #eeeeee;
  }

  &-photo {
    background-color: #81b3d2;
    color: #eeeeee;
  }
}

.advantage-item {
  text-align: center;
  padding-left: 18px;
  padding-right: 18px;

  &__title::after {
    content: attr(data-value);
    padding-top: 54px;
  }

  &__description {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    padding-top: 49px;
  }
}

