.button--accept {
  .button ();
  .title ();
  width: 180px;
  margin: 20px;

  @media (min-width: @tablet-width) {
    min-width: 270px;
  }
}

.button--close {
  width: 280px;
  margin: 20px;

  @media (min-width: @tablet-width) {
    min-width: 458px;
    margin: 20px 0 0 0;
    padding: 7px 0 0 0;
  }
}

