.button {
  .button ();
  .title ();
  font-size: 21px;
  line-height: 26px;
  cursor: pointer;
  padding: 16px;

  &--accept {
    width: 180px;

    @media (min-width: @tablet-width) {
      width: 270px;
    }
  }

  &--close {
    width: 100%;
    padding: 16px;
  }
}
