.copyright {
  @media (min-width: @tablet-width) {
    margin: 55px 0 0 20px;
    height: 37px;
  }
}

.copyright__text {
  margin-right: 12px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  padding: 10px 0 0 0;

  @media (min-width: @tablet-width) {
    padding: 0;
    display: block;
    height: 37px;
  }
}

.copyright__link {
  margin: 0;
  padding: 0;
  color: #000000;
  display: block;
  height: 37px;
  text-align: center;
  justify-content: center;

  @media (min-width: @desktop-width) {
    left: 1076px;
    top: 2600px;
  }
}

.copyright__icon {
  @media (min-width: @tablet-width) {
    width: 37px;
    color: #000000;
  }
}

.copyright__icon:hover {
  color: #81b3d2;
}

.copyright__icon:active {
  color: #81b3d2;
}
