.fieldset {
  border-bottom: 1px solid #e5e5e5;
  margin: 0;
}

.fieldset__title {
  .title ();
  text-transform: uppercase;
  text-align: center;
  padding: 28px 0 15px 0;

  @media (min-width: @tablet-width) {
    font-size: 21px;
    padding: 0 0 25px 0;
  }

  &--choice {
    padding: 20px 0 45px 0;

    @media (min-width: @tablet-width) {
      padding: 0 0 45px 0;

      span::after {
        content: "\A";
        white-space: pre;
      }
    }
  }

  &--text {
    padding: 10px 0 15px 0;

    @media (min-width: @tablet-width) {
      padding: 10px 0 15px 0;
    }
  }
}


.fieldset:nth-child(1) .fieldset__title {
  @media (min-width: @tablet-width) {
    padding: 0 0 25px 35px;
  }
}

.fieldset:nth-child(2) .fieldset__title {
  @media (min-width: @tablet-width) {
    margin: 0 0 0 -20px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 0 0 -30px;
  }
}

.fieldset:nth-child(1) .fieldset__title::after {
  @media (min-width: @tablet-width) {
    content: "";
    background-image: url("..img/form/vertical-line.svg");
    background-color: #dbdbdb;
    height: 2px;
    width: 338px;
    display: flex;
    position: absolute;
    top: 775px;
    left: 215px;
    transform: rotate(90deg);
  }

  @media (min-width: @desktop-width) {
    top: 805px;
    left: 485px;
  }
}

.fieldset:nth-child(3) .fieldset__title::after {
  @media (min-width: @tablet-width) {
    content: "";
    background-image: url("..img/form/line.svg");
    background-color: #dbdbdb;
    height: 2px;
    width: 123px;
    display: flex;
    position: relative;
    top: -15px;
    left: -185px;
  }

  @media (min-width: @desktop-width) {
    width: 320px;
    left: -315px;
  }
}

.fieldset:nth-child(3) .fieldset__title::before {
  @media (min-width: @tablet-width) {
    content: "";
    background-image: url("..img/form/line.svg");
    background-color: #dbdbdb;
    height: 2px;
    width: 123px;
    display: flex;
    position: relative;
    top: 15px;
    left: auto;
    right: -325px;
  }

  @media (min-width: @desktop-width) {
    width: 320px;
    left: auto;
    right: -325px;
  }
}

.fieldset:nth-child(4) .fieldset__title::after {
  @media (min-width: @tablet-width) {
    content: "";
    background-image: url("..img/form/line.svg");
    background-color: #dbdbdb;
    height: 2px;
    width: 123px;
    display: flex;
    position: relative;
    top: -25px;
    left: -185px;
  }

  @media (min-width: @desktop-width) {
    width: 320px;
    left: -315px;
  }
}

.fieldset:nth-child(4) .fieldset__title::before {
  @media (min-width: @tablet-width) {
    content: "";
    background-image: url("..img/form/line.svg");
    background-color: #dbdbdb;
    height: 2px;
    width: 123px;
    display: flex;
    position: relative;
    top: 25px;
    left: auto;
    right: -325px;
  }

  @media (min-width: @desktop-width) {
    width: 320px;
    left: auto;
    right: -325px;
  }
}

.fieldset:nth-child(5) .fieldset__title::after {
  @media (min-width: @tablet-width) {
    content: "";
    background-image: url("..img/form/line.svg");
    background-color: #dbdbdb;
    height: 2px;
    width: 123px;
    display: flex;
    position: relative;
    top: -15px;
    left: -185px;
  }

  @media (min-width: @desktop-width) {
    width: 320px;
    left: -315px;
  }
}

.fieldset:nth-child(5) .fieldset__title::before {
  @media (min-width: @tablet-width) {
    content: "";
    background-image: url("..img/form/line.svg");
    background-color: #dbdbdb;
    height: 2px;
    width: 123px;
    display: flex;
    position: relative;
    top: 15px;
    left: auto;
    right: -325px;
  }

  @media (min-width: @desktop-width) {
    width: 320px;
    left: auto;
    right: -325px;
  }
}

.fieldset__list {
  list-style: none;
  margin: 25px 0 0 0;
  padding: 0;

  &--choice {
    margin: 0;
    position: relative;

    @media (min-width: @tablet-width) {
      margin: 0;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 30px;
    }

    @media (min-width: @desktop-width) {
      grid-template-columns: repeat(3, 1fr);
      column-gap: 55px;
      margin-top: 50px;
      padding: 0 55px 0 30px;
    }
  }
}

.four-columns {
  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 0;
    margin-top: 50px;
  }
}

.fieldset__item {
  margin: 0;
  padding: 0 0 10px 0;

  @media (min-width: @desktop-width) {
    padding: 0 10px 10px 0;
  }

  &--choice {
    padding: 33px 0 0 0;

    @media (min-width: @desktop-width) {
      padding: 0 10px 35px 0;
    }
  }
}

.fieldset__item--choice:nth-last-child(1) {
  padding-bottom: 0;
}

.fieldset__input {
  .title ();
  background-color: #f2f2f2;
  border: none;
  padding: 16px;
  margin: 0;
  min-width: 250px;
  font-family: "PT Sans", "Arial", sans-serif;

  @media (min-width: @tablet-width) {
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    min-width: 400px;
  }

  &--contact {
    @media (min-width: @desktop-width) {
      min-width: 330px;
      padding: 16px 0 16px 20px;
      color: rgba(0, 0, 0, 0.3);
    }
  }

  &--tel,
  &--mail {
    .description ();
    text-transform: uppercase;
    top: -85px;
    left: 15px;
  }
}

.fieldset__input:hover {
  background-color: #e5e5e5;
}

.fieldset__input:active {
  border: #e5e5e5 solid 2px;
  background-color: #ffffff;
}

.fieldset__label--tel::before,
.fieldset__label--mail::before {
  @media (min-width: @desktop-width) {
    height: 58px;
    width: 58px;
  }
}

.fieldset__label--tel::before {
  content: url("../img/form/tel.svg");
  left: 210px;
  top: 23px;
  position: absolute;

  @media (min-width: @desktop-width) {
    left: 325px;
  }
}


.fieldset__label--mail::before {
  content: url("../img/form/mail.svg");
  left: 210px;
  top: 23px;
  position: absolute;

  @media (min-width: @desktop-width) {
    left: 325px;
  }
}

.fieldset__label {
  text-transform: uppercase;
  position: relative;
  top: -85px;
  left: 15px;
  .description ();

  @media (min-width: @tablet-width) {
    top: -85px;
    left: 15px;
  }

  &--choice {
    top: -42px;
    left: 0;

    @media (min-width: @desktop-width) {
      top: -45px;
      left: 25px;
    }
  }

  &--text {
    top: 0;
    left: 0;
    .title ();

    @media (min-width: @tablet-width) {
      top: 10px;
    }
  }
}

.fieldset__text {
  .title ();
  text-transform: none;
  margin: 0 0 0 60px;
}

.fieldset__textarea {
  .title ();
  background-color: #f2f2f2;
  color: rgba(0, 0, 0, 0.3);
  border: none;
  min-width: 248px;
  height: 120px;
  margin: 0;
  padding: 18px 16px;
  font-family: "PT Sans", "Arial", sans-serif;
  .title ();

  @media (min-width: @tablet-width) {
    min-width: 588px;
    padding: 18px 40px 20px 18px;
  }

  @media (min-width: @desktop-width) {
    min-width: 708px;
    padding: 18px 40px 20px 18px;
  }
}

.fieldset-radio,
.fieldset-checkbox {
  appearance: none;
  position: absolute;
}


.fieldset-radio::before {
  .fieldset-before ();
  border-radius: 50px;
}

.fieldset-checkbox::before {
  .fieldset-before ();
  border-radius: 4px;
}

.fieldset-radio:checked ~ .fieldset__text::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 50px;
  background-color: #333333;
  width: 16px;
  height: 16px;
  top: 5px;
  left: 15px;
  bottom: 3px;
}

.fieldset-checkbox:checked ~ .fieldset__text::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 1px;
  border-left: 3px solid #333333;
  border-bottom: 3px solid #333333;
  width: 16px;
  height: 10px;
  top: 0;
  left: 12px;
  bottom: 3px;
  transform: rotate(-45deg);
}


.button--fieldset {
  .button ();
  .title ();
  width: 280px;
  padding: 20px 40px 15px 40px;

  @media (min-width: @tablet-width) {
    width: 324px;
  }

  @media (min-width: @desktop-width) {
    width: 384px;
  }
}
