.fieldset__wrapper {
  position: relative;
}

.fieldset__wrapper--tel::after,
.fieldset__wrapper--mail::after {
  @media (min-width: @desktop-width) {
    height: 57px;
    width: 56px;
  }
}

.fieldset__wrapper--mail::after {
  content: url("../img/form/mail.svg");
  right: -5px;
  top: 0;
  position: absolute;
}

.fieldset__wrapper--tel::after {
  content: url("../img/form/tel.svg");
  right: -5px;
  top: 0;
  position: absolute;
}
