.fieldset__wrapper {
  position: relative;
}

.fieldset__wrapper--icon-tel {
  height: 54px;
  width: 58px;
  background-color: #e6e6e6;
  display: flex;
  position: absolute;
  top: 2px;
  left: 220px;

  @media (min-width: @desktop-width) {
    left: 350px;
    height: 58px;
  }
}


.fieldset__wrapper--icon-tel svg {
  display: flex;
  position: absolute;
  top: 20px;
  left: 20px;
}
