.footer {
  align-items: center;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 24px 75px 30px 60px;
  }

  @media (min-width: @desktop-width) {
    padding: 35px 120px;
  }

  &--catalog {
    padding: 0 20px 23px;

    @media (min-width: @tablet-width) {
      padding: 87px 61px;
    }

    @media (min-width: @desktop-width) {
      padding: 115px 120px 0 120px;
    }
  }

  &--form {
    padding: 0 20px 23px;

    @media (min-width: @tablet-width) {
      padding: 87px 60px 30px;
    }

    @media (min-width: @desktop-width) {
      padding: 35px 120px;
    }
  }
}
