html {
  height: 100%;
}

.button {
  background-color: #81b3d2;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  border: none;

  &-fieldset {
    width: 280px;
    height: 58px;
  }

  &-booking-form {
    width: 284px;
    height: 58px;
  }

  &-accept {
    width: 180px;
    height: 58px;
  }

  &-close {
    width: 280px;
    height: 58px;
  }
}

.visually-hidden {
  visibility: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

