.hero-photo-main {
  background: url("../img/back.jpg") no-repeat center;
  background-color: #89c2d9;
  min-height: 389px;
  width: 100%;
  margin: 0;

  @media (min-width: @tablet-width) {
    min-height: 518px;
    background: url("../img/back-tablet.jpg") no-repeat center;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-tablet@2x.jpg");
      background-size: cover;
    }
  }

  @media (min-width: @desktop-width) {
    min-height: 518px;
  }
}

.hero-photo-main::after {
  content: url("../img/back-decor.svg");
  height: 57px;
  width: 100%;
  position: relative;
  top: 16px;

  @media (min-width: @tablet-width) {
    content: url("../img/back-tablet-decor.svg");
    top: 22px;
  }

  @media (min-width: @desktop-width) {
    content: url("../img/back-desktop-decor.svg");
    top: 113px;
  }
}
