.hero-photo-main {
  background-image:
    url("../img/back.jpg"),
    url("../img/welcome.svg"),
    url("../img/union.svg"),
    url("../img/sedona.svg"),
    url("../img/reason.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 214px;
  width: 100%;
  margin: 0;
}
