.hero {
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  min-width: 284px;
  padding: 18px 18px 0 18px;

  .hero__title {
    padding: 0 12px 0 12px;

    @media (min-width: @tablet-width) {
      font-size: 21px;
      font-weight: 700;
      line-height: 28px;
      padding: 13px 12px 0 12px;
    }

    @media (min-width: @desktop-width) {
      padding: 22px 12px 0 12px;
    }
  }

  .hero__description {
    .description ();
    margin: 0;
    padding: 22px 18px 16px 18px;
    align-items: center;

    @media (min-width: @tablet-width) {
      padding: 8px 16px 55px 14px;
    }

    @media (min-width: @desktop-width) {
      padding: 8px 16px 48px 14px;
    }
  }
}

.hero::after {
  content: url("../img/hero-decor.svg");
  height: 37px;
  width: 100%;
  position: absolute;
  left: 0;

  @media (min-width: @tablet-width) {
    display: none;
  }
}
