.hero-photo {
  background: url("../img/back.jpg") no-repeat center;
  background-size: cover;
  min-height: 214px;
  width: 100%;
  margin: 0;
}

@media (min-width: @tablet-width) {
  min-height: 518px;
}
