.page-header {
  background-color: #ffffff;
  color: #000000;
  width: 100%;
  min-height: 56px;
  display: flex;
}

.page-header__logo {
  margin-left: 67px;
  min-height: 96px;
  min-width: 185px;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  min-height: 56px;
}

@media (max-width: 320px) {
  .header-nav-list {
    background-color: #81b3d2;
    text-decoration: none;
  }
}

.header-nav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  list-style: none;
}
