.site-list {
  position: relative;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}

.site-list__link {
  position: relative;
  display: block;
  padding: 17px 0 12px 0;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #81b3d2;
  border-bottom: 1px solid fade(#010101, 20%);
  border-top: 1px solid fade(#ffffff, 30%);

  @media (min-width: @tablet-width) {
    .description ();
    font-weight: 700;
    background-color: #ffffff;
    color: #000000;
    border: none;
    text-decoration: none;
    text-align: center;
  }

  &--current {
    @media (min-width: @tablet-width) {
      color: #766357;
    }
  }
}

.site-list__link:hover {
  color: #ffffff 30%;

  @media (min-width: @tablet-width) {
    color: #81b3d2;
  }
}

.site-list__item {
  list-style: none;
  background-color: #81b3d2;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  margin: 0;
  min-width: 320px;

  @media (min-width: @tablet-width) {
    background-color: #ffffff;
    min-width: 104px;
    padding: 0 25px 0 25px;
  }

  @media (min-width: @desktop-width) {
    background-color: #ffffff;
    padding: 0 68px 0 68px;
  }
}

.site-list__item:nth-child(2) {
  @media (min-width: @tablet-width) {
    margin-right: 70px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 199px;
  }
}

.site-list__item:nth-child(3) {
  @media (min-width: @tablet-width) {
    margin-left: 80px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 40px;
  }
}
