.social {
  margin: 0;
  padding: 0 0 30px 15px;
  min-height: 48px;

  @media (min-width: @tablet-width) {
    padding-top: 45px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 0 0 75px;
  }
}

.social__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0 65px 0 65px;
  min-width: 166px;

  @media (min-width: @tablet-width) {
    padding: 0 65px 0 115px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 65px 0 65px;
  }
}

.social__link {
  margin: 0;
}

.social__item {
  list-style: none;
  margin-right: 6px;
}
