.button () {
  background-color: #81b3d2;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
}

.advantage-item () {
  min-width: 237px;
  margin: 0;
}

.description () {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

